.main-home {
  min-height: 100vh;
}

#task-list-container-home {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd; /* Borda suave */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#task-list-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#header-text-left {
  text-align: left;
}

#header-text-right {
  text-align: right;
}

#header-divider {
  margin-top: 5px;
  margin-bottom: 15px;
  border-top: 2px solid rgba(0, 0, 0, 0.20);
}

.task-list {
  margin-top: 10px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.task-item:hover {
  background-color: #d8d8d898;
  padding: 5px;
  transition: 0.2s;
}

.task-divider {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ddd;
}

.task-content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

#task-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 10px;
}

#dates {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end; 
  padding-left: 10px;
}

.prioriry-level {
  width: 50%;
}

#task-management {
  width: 30%;
  height: 2.3rem;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2); /* Borda suave */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-color: #fff;
}

.task-labels {
  font-size: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.20);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 200;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .task-content-row {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  #task-description {
    width: 50%;
    display: flex;
    align-items: flex-start;
    padding-right: 0px;
  }
  
  #dates {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-left: 0px;
  }
  .task-labels {
    margin-top: 1rem;
    font-size: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    font-weight: 200;
  }

  .task-content {
    margin-left: 0.5rem;
  }

  #task-management {
    margin-top: 1rem;
    width: 50%;
    height: 2.3rem;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2); /* Borda suave */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    background-color: #fff;
  }


}