#priority-level, #levels {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#level-icon {
    width: 40px;
    height: 40px;
}

#levels {
    height: 1.5rem;

    /* depois ajustar a largura de uma forma mais relativa */
    width: 10rem;
    margin-left: 4px;
    /* padding: 4px; */
    border: 0px solid; 
    border-radius: 20px;
}

.lv {
    flex: 1;
    height: 100%;
    border: 1p solid green;
}



/* #level-1 {
    width: 12px;
    height: 12px;
    margin-left: 4px;
    border: 1px solid #ddd;
    background: #a3d9a3;
} */

/*
#level-2 {
    width: 12px;
    height: 14px;
    margin-left: 4px;
    border: 1px solid #ddd; 
}

#level-3 {
    width: 12px;
    height: 16px; 
    margin-left: 4px;
    border: 1px solid #ddd; 
}

#level-4 {
    width: 12px;
    height: 18px;
    margin-left: 4px;
    border: 1px solid #ddd; 
}

#level-5 {
    width: 12px;
    height: 20px;
    margin-left: 4px;
    border: 1px solid #ddd; 
} */